.container-fluid {
}

.tooltip {
	position: absolute;
	text-align: center;
	width: auto;
	padding: 4px;
	font: 12px sans-serif;
	background: red;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

#gym_muscles{
  height: 600px;
}

#gym_muscles > img {
  height: 100%;
}
